<span class="cursor--pointer">
    <button ng-click="toggleAction('like', item.provider, item.id_str)" class="actions tips--deep" ng-class="::{'tips--active': item.favorited}" type="button">
        <svg class="actions__button" ng-class="::{'button--active': item.favorited}" data-like>
            <use xlink:href="/public/img/icon-sprites.svg#favorite"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.favorite_count > 0 ? item.favorite_count : ''}}"></span>
    </button>
    <button ng-click="toggleAction('retweet', item.provider, item.id_str)" class="actions tips--deep" ng-class="::{'tips--frozen': item.retweeted}" type="button">
        <svg class="actions__button actions__button--retweet" ng-class="::{'button--active': item.retweeted}" data-retweet>
            <use xlink:href="/public/img/icon-sprites.svg#retweet"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.retweet_count > 0 ? item.retweet_count : ''}}"></span>
    </button>
    <a ng-href="//twitter.com/{{::item.user.screen_name}}/status/{{::item.id_str}}" target="_blank">
        <button class="actions tips--deep" type="button">
            <svg class="actions__button">
                <use xlink:href="/public/img/icon-sprites.svg#source"></use>
            </svg>
        </button>
    </a>
</span>