<span class="cursor--pointer">
    <button class="actions tips--deep tips--frozen" ng-if="::item.favorite_count > 0" type="button">
        <svg class="actions__button" viewBox="0 0 26 26" data-like>
            <use xlink:href="/public/img/icon-sprites.svg#favorite"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.favorite_count}}"></span>
    </button>
    <button ng-click="toggleAction('retweet', item)" class="actions tips--deep" type="button">
        <svg class="actions__button" viewBox="0 0 34 26" data-retweet>
            <use xlink:href="/public/img/icon-sprites.svg#retweet"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.retweet_count > 0 ? item.retweet_count : ''}}"></span>
    </button>
    <button class="actions tips--deep tips--frozen" ng-if="::item.comments_count > 0" type="button">
        <svg class="actions__button" viewBox="0 0 26 26">
           <use xlink:href="/public/img/icon-sprites.svg#reply"></use>
        </svg>
        <span class="actions__count" ng-attr-data-count="{{::item.comments_count}}"></span>
    </button>
    <a ng-href="//weibo.com/{{::item.user.idstr}}/{{::item.mid}}" target="_blank">
        <button class="actions tips--deep" type="button">
            <svg class="actions__button" viewBox="0 0 26 26">
                <use xlink:href="/public/img/icon-sprites.svg#source"></use>
            </svg>
        </button>
    </a>
    <button ng-click="toggleAction('star', item)" class="actions tips--deep" type="button">
        <svg class="actions__button" viewBox="0 0 26 26" data-star>
            <use xlink:href="/public/img/icon-sprites.svg#star"></use>
        </svg>
    </button>
</span>