.actions {
    display: table;
    position: absolute;
    text-align: center;

    &--4 {
        width: 50%;
        height: 50%;

        &__1 {
            top: 0;
            left: 0;            
        }
        &__2 {
            top: 0;
            right: 0;
        }
        &__3 {
            bottom: 0;
            left: 0;
        }
        &__4 {
            bottom: 0;
            right: 0;
        }

        @media #{$all-mobile-devices}{
            width: 100%;
            height: 25%;

            &__1 {
                top: 0;
            }
            &__2 {
                top: 25%;
            }
            &__3 {
                top: 50%
            }
            &__4 {
                top: 75%;
            }
        }
    }

    &--3 {
        width: 100%;
        height: 33.3%;
        &__1 {
            top: 0;
        }
        &__2 {
            top: 33.3%
        }
        &__3 {
            top: 66.7%;
        }
    }

    &__button {
        width: 70px;
        height: 70px;
        margin: 0 auto;
        cursor: pointer;

        @include filter(grayscale(100%));

        &--active {
            @include filter(grayscale(0%));
        }
    }
    &__count {
        font-size: 20px;
        color: #89A;
        cursor: pointer;
    }
}