.actions {
    position: relative;
    padding-right: 3px;

    &__button {
        display: inline-block;
        height: 17px;
        margin: 0 auto;
        vertical-align: middle;
        fill: $color-steel;

        &--wait {
            cursor: default;

            @include animation(waitAnimate 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55));
            @include keyframes(waitAnimate) {
                0% {
                    @include transform(rotate(0deg));
                }
                100% {
                    @include transform(rotate(360deg));
                }
            }
        }
        &--like {
            &--active {
                fill: $color-weibo;
            }
        }
        &--retweet {
            &--active {
                fill: $color-twitter;
            }
        }
        &--reply {
            &--active {
                fill: #3caf36;
            }
        }
        &--star {
            &--active {
                fill: #FFE33B;
            }
        }
    }
    &__count {
        display: inline-block;
        height: 28px;
        vertical-align: middle;

        &::after {
            content: attr(data-count);
            line-height: 28px;
            font-size: 10px;
            color: #89A;
        }
    }
}

.timeline--quote {
    .actions {
        &__button {
            width: 15px;
            height: 24px;

            &--retweet {
                width: 18px;
            }
        }
        &__count {
            font-size: 10px;
        }
    }
}