.actions {
    display: inline-block;
    position: relative;
    padding-right: 7px;
    text-align: center;

    &__button {
        display: inline-block;
        width: 17px;
        height: 28px;
        margin: 0 auto;
        vertical-align: middle;

        @include filter(grayscale(100%));

        &--wait {
            @include animation(waitAnimate 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55));
            cursor: default;
        }
        &--retweet {
            width: 20px;
        }
    }
    &__count {
        display: inline-block;
        font-size: 11px;
        color: #89A;

        &::after {
            content: attr(data-count)
        }
    }
}

@include keyframes(waitAnimate) {
    0% {
        @include transform(rotate(0deg));
    }
    100% {
        @include transform(rotate(360deg));
    }
}