/* Status: Settings */
.oneline {
    position: absolute;
    left: 40%;
    top: 0%;
    width: 20%;
    height: 100%;
    background-color: $color-black;

    @media #{$phone-portrait}{
        min-width: 0px;
        left: 25%;
        width: 50%;
    }
}

.menu {
    display: table;
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    text-align: center;

    &--left {
        left: 0%;

        @media #{$phone-portrait}{
            width: 25%;
        }
    }
    &--right {
        left: 60%;

        @media #{$phone-portrait}{
            left: 75%;
            width: 25%;
        }
    }
    &:hover &__button {
        @include opacity(1);
    }

    &__button {
        width: 70px;
        height: 70px;
        cursor: pointer;

        @include opacity(0);
        @include filter(grayscale(100%));

        @media #{$all-mobile-devices}{
            @include opacity(1);
            @include filter(grayscale(0%));
        }

        &:hover {
            @include filter(grayscale(0%));
        }
    }
}


/* Status: Timeline */
.status--timeline {
    .oneline {
        left: 33.3%;
        width: 33.3%;
        background-color: $color-gray;

        @media #{$all-mobile-devices}{
            left: 25%;
            width: 50%;
        }
        @media #{$phone-portrait}{
            left: 0%;
            width: 100%;
        }
    }

    .menu {
        width: 33.3%;

        &--left {
            left: 0%;
        }
        &--right {
            left: 66.7%;
        }

        @media #{$all-mobile-devices}{
            width: 25%;

            &--right {
                left: 75%;
            }
        }
    }
}