/* Status: Settings */
.oneline {
    @extend .settingsWidth;
    position: absolute;
    top: 0%;
    height: 100%;
    background-color: $color-black;
    @include filter(brightness(1));
    @include transform(translate3d(0, 0, 0));
}

/* 側邊菜單欄 */
.menu {
    display: table;
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    text-align: center;

    &--left {
        left: 0%;

        @media #{$phone-portrait}{
            width: 25%;
        }
    }
    &--right {
        left: 60%;
    }
    &:hover &__button {
        @include opacity(1);
    }

    &__button {
        cursor: pointer;
        @include opacity(0);
        @include filter(grayscale(100%));

        svg {
            width: 70px;
            height: 70px;
        }

        @media #{$all-mobile-devices}{
            @include opacity(1);
            @include filter(grayscale(0%));
        }

        &:hover, &--active {
            @include opacity(1);
            @include filter(grayscale(0%));
        }
    }

    @media #{$all-mobile-devices}{
        display: none;
    }
}


.status {
    /* Status: Timeline */
    &--timeline {
        .oneline, .controlCenter {
            @extend .timelineWidth;
            background-color: $color-gray;
        }

        .menu {
            width: 33.3%;

            &--left {
                left: 0%;
            }
            &--right {
                left: 66.7%;
            }

            @media #{$all-mobile-devices}{
                display: none;
            }
        }
    }
    /* Status: controlCenter */
    &--controlCenter {
        .oneline {
            height: 80%;
        }
        &--deep .oneline, .oneline .social-wrapper, {
            @include filter(brightness(0.3));
        }
    }
}



/**
 * Base
 *
 */
.settingsWidth {
    left: 40%;
    width: 20%;
    @media #{$phone-portrait}{
        left: 15%;
        width: 70%;
    }
    @media #{$tablet}{
        left: 25%;
        width: 50%;
    }
    @media #{$tablet-landscape}{
        left: 33.3%;
        width: 33.3%;
    }
}
.timelineWidth {
    left: 33.3%;
    width: 33.3%;
    @media #{$phone-portrait}{
        left: 0%;
        width: 100%;
    }
    @media #{$tablet}{
        left: 15%;
        width: 70%;
    }
    @media #{$tablet-landscape}{
        left: 25%;
        width: 50%;
    }
}