/* Status: Settings */
.oneline {
    position: absolute;
    left: 40%;
    top: 0%;
    width: 20%;
    height: 100%;
    background-color: $color-black;

    @media #{$phone-portrait}{
        left: 15%;
        width: 70%;
    }
    @media #{$tablet}{
        left: 25%;
        width: 50%;
    }
    @media #{$tablet-landscape}{
        left: 33.3%;
        width: 33.3%;
    }
}

/* 側邊菜單欄 */
.menu {
    display: table;
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    text-align: center;

    &--left {
        left: 0%;

        @media #{$phone-portrait}{
            width: 25%;
        }
    }
    &--right {
        left: 60%;
    }
    &:hover &__button {
        @include opacity(1);
    }

    &__button {
        width: 70px;
        height: 70px;
        cursor: pointer;

        @include opacity(0);
        @include filter(grayscale(100%));

        @media #{$all-mobile-devices}{
            @include opacity(1);
            @include filter(grayscale(0%));
        }

        &:hover {
            @include filter(grayscale(0%));
        }
    }

    @media #{$all-mobile-devices}{
        display: none;
    }
}


.status {
    /* Status: Timeline */
    &--timeline {
        .oneline {
            left: 33.3%;
            width: 33.3%;
            background-color: $color-gray;

            @media #{$phone-portrait}{
                left: 0%;
                width: 100%;
            }
            @media #{$tablet}{
                left: 15%;
                width: 70%;
            }
            @media #{$tablet-landscape}{
                left: 25%;
                width: 50%;
            }
        }

        .menu {
            width: 33.3%;

            &--left {
                left: 0%;
            }
            &--right {
                left: 66.7%;
            }

            @media #{$all-mobile-devices}{
                display: none;
            }
        }
    }
    &--controlCenter {
        height: 80%;
        overflow: hidden;
    }
}