.social-list {
    display: table;
    width: 100%;
    height: 100%;
}
.social-icon {
    display: block;
    margin: 33.3% auto;
    width: 33.3%;
    cursor: pointer;
    @include filter(grayscale(100%));

    &--active {
        @include filter(grayscale(0%));
    }
}