.timeline {
    position: relative;
    margin: 36px 7px;
    padding: 0 10px;
    background-color: $color-white;

    @include border-radius(3px);

    
    // 用戶信息
    &__profile {
        position: relative;
        top: -24px; // 48px/2 (avatar)
        text-align: center;

        // 頭銜
        &__avatar {
            width: 48px;
            border-width: 1px;
            border-style: solid;
            @include border-radius(50%);
        }
        // 用戶名
        &__fullname {
            margin-bottom: 17px;
            font-weight: $font-weight-bold;
        }
    }
    // 發文時間
    &__time {
        position: absolute;
        bottom: 3px;
        right: 3px;
        color: #89A;
        font-size: 11px;
        cursor: pointer;
    }
    // 文章外盒
    &__content {
        position: relative;
        top: -24px;
        @include user-select(text);
    }
    // 文章內容
    &__text {
        word-wrap: break-word;
        white-space: pre-wrap;
    }
    // 圖片／視頻
    &__media {
        position: relative;
        margin: 17px 0;

        img, video {
            width: 100%;
            @include border-radius(3px);
        }
        video {
            cursor: pointer;
        }
        // 播放按鈕
        &__playButton {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 16.7%;
            height: 16.7%;
            cursor: pointer;
            
            // 正在播放
            &--playing {
                @include opacity(0);
            }
        }
    }


    // 引用推文
    &--quote {
        top: -12px;
        margin: 0;
        border: 1px solid $color-gray;
        background-color: $color-gray;
        cursor: pointer;

        @include transform(scale(.7));

        &:hover {
            background-color: $color-twitter-alpha;
        }

        strong, p {
            color: $color-black;
        }
    }
    // 轉推用戶頭像
    &--retweet__profile__avatar {
        position: absolute;
        top: -12px;
        left: calc(50% - 72px);

        img {
            width: 24px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 4px;
            right: -21px;
            width: 19px;
            height: 16px;
            background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><g fill="#B2B2B2"><path d="M10.84 10.653c-.053-.07-.127-.105-.221-.105h-5.092v-3.655h1.697c.153 0 .286-.06.398-.181.112-.121.168-.263.168-.428 0-.152-.044-.282-.133-.39l-2.829-3.655c-.112-.139-.256-.209-.433-.209s-.321.07-.433.209l-2.829 3.655c-.089.108-.133.238-.133.39 0 .165.056.308.168.428.112.121.245.181.398.181h1.697v5.711l.009.11.027.109.049.076.079.067.119.019h8.487c.077 0 .143-.03.199-.09.056-.06.084-.132.084-.214 0-.064-.021-.13-.062-.2l-1.415-1.827zM17.409 8.112h-1.697v-5.711l-.009-.11-.026-.109-.049-.076-.08-.067-.119-.019h-8.487c-.077 0-.143.03-.199.09-.056.06-.084.132-.084.214 0 .07.02.133.062.19l1.414 1.827c.053.076.127.114.221.114h5.092v3.654h-1.697c-.153 0-.286.06-.398.181-.112.121-.168.264-.168.428 0 .152.044.282.133.39l2.829 3.654c.118.146.262.219.433.219.171 0 .315-.073.433-.219l2.829-3.654c.088-.108.133-.238.133-.39 0-.165-.056-.308-.168-.428-.112-.12-.245-.181-.398-.181z"/></g></svg>');

            @include transform(scale(.7));
        }
    }
    
    // Twitter 樣式
    &--twitter {
        .timeline__profile__avatar {
            border-color: $color-twitter;
        }
        .timeline__content {
            a, a:visited {
                color: $color-twitter;
            }
        }
    }
    // Instagram 樣式
    &--instagram {
        .timeline__profile__avatar {
            border-color: $color-instagram;
        }
        .timeline__content {
            a, a:visited {
                color: $color-instagram;
            }
        }
    }
    // Weibo 樣式
    &--weibo {
        .timeline__profile__avatar {
            border-color: $color-weibo;
        }
        .timeline__content {
            a, a:visited {
                color: $color-weibo;
            }
        }
    }


    &__action {
        display: none;
        position: absolute;
        top: 7px;
        right: 5px;
        width: 20px;
        height: 6px;
        cursor: pointer;
        z-index: 3;

        @media #{$all-mobile-devices}{
            display: block;
        }
    }

    &:hover {
        .timeline__action {
            display: block;
        }
    }
}

/* Load more button */
.loadMore {
    @extend .timeline;
    position: relative;
    height: 40px;
    margin: 10px 7px;
    border: 1px solid $color-gray;
    cursor: pointer;

    &:hover {
        border: 1px solid $color-gray-drak;
    }
    &:active {
        background-color: $color-gray-drak;
    }
    &--new {
        z-index: 3;
    }
    &--old {
        z-index: 2;
    }
    &--initLoad {
        position: absolute;
        top: calc(50% - 20px);
        width: calc(100% - 14px);
    }

    &__loading {
        position: relative;
        top: 19px;
        width: 2px;
        height: 2px;
        background-color: $color-black;
        @include border-radius(1px);
        @include animation(loadAnimate 7s infinite linear);
    }
    &__count::before {
        content: attr(data-count);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: $color-gray-drak;
        text-align: center;
        line-height: 40px;
    }
}

@include keyframes(loadAnimate) {
    0% {
        width: 2px;
    }
    100% {
        width: 100%;
    }
}

.divider_line {
    content: '';
    position: absolute;
    left: 50%;
    height: 40px;
    border-right: 1px dashed $color-black;
}
/* Divider */
.divider {
    &--top {
        margin-top: 100px;

        &::before {
            @extend .divider_line;

            top: -82px;
        }
    }

    &--bottom {
        margin-bottom: 100px;

        &::after {
            @extend .divider_line;

            bottom: -58px;
        }
    }
}
