<div class="actions tips--deep tips--frozen animate--faster">
    <svg class="actions__button" ng-class="::{'actions__button--active': item.favorited}">
        <use xlink:href="/public/img/icon-sprite.svg#like-icon"></use>
    </svg>
    <span class="actions__count" ng-attr-data-count="{{:: item.favorite_count > 0 ? item.favorite_count : ''}}"></span>
</div>
<div class="actions tips--deep tips--frozen animate--faster">
    <svg class="actions__button">
        <use xlink:href="/public/img/icon-sprite.svg#reply-icon"></use>
    </svg>
    <span class="actions__count" ng-attr-data-count="{{:: item.reply_count > 0 ? item.reply_count : ''}}"></span>
</div>
<div class="actions tips--deep animate--faster">
    <a ng-href="{{item.link}}" target="_blank">
        <svg class="actions__button">
            <use xlink:href="/public/img/icon-sprite.svg#source-icon"></use>
        </svg>
    </a>
</div>