<!-- Social -->
<div class="social-wrapper">
    <div ng-repeat="provider in ['twitter', 'instagram', 'weibo']" class="social-list">
        <div class="vertically_center">
            <svg class="social-icon animate--faster tips" ng-class="{'social-icon--active tips--active': isAuth(provider)}" ng-click="toggleAuth(provider)" viewBox="0 0 300 300">
                <use ng-attr-xlink:href="{{::'/public/img/icon-sprite.svg#' + provider + '-icon'}}" xlink:href=""></use>
            </svg>
        </div>
    </div>
</div>

<!-- Replicant -->
<svg ng-if="providerList.length > 0" ng-click="toggleControlCenter('replicant--deckard')" class="replicant-icon replicant-icon--deckard tips animate--faster" viewBox="0 0 54 67">
    <use xlink:href="/public/img/icon-sprite.svg#replicant-deckard-icon"></use>
</svg>
<svg ng-click="toggleControlCenter('replicant--rachael')" class="replicant-icon replicant-icon--rachael tips animate--faster" viewBox="0 0 54 67">
    <use xlink:href="/public/img/icon-sprite.svg#replicant-rachael-icon"></use>
</svg>