<!-- Social -->
<div class="social-wrapper animate--faster">
    <!-- Twitter -->
    <div class="social-list">
        <div class="vertically_center">
            <button class="social-icon animate--faster tips" ng-click="toggleAuth('twitter')" data-provider="twitter" type="button">
                <svg viewBox="0 0 300 300">
                    <use xlink:href="/public/img/icon-sprites.svg#twitter"></use>
                </svg>
            </button>
        </div>
    </div>
    <!-- Instagram -->
    <div class="social-list">
        <div class="vertically_center">
            <button class="social-icon animate--faster tips" ng-click="toggleAuth('instagram')" data-provider="instagram" type="button">
                <svg viewBox="0 0 775 300">
                    <use xlink:href="/public/img/icon-sprites.svg#instagram"></use>
                </svg>
            </button>
        </div>
    </div>
    <!-- Weibo -->
    <div class="social-list">
        <div class="vertically_center">
            <button class="social-icon animate--faster tips" ng-click="toggleAuth('weibo')" data-provider="weibo" type="button">
                <svg viewBox="0 0 300 300">
                    <use xlink:href="/public/img/icon-sprites.svg#weibo"></use>
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Replicant -->
<button ng-if="providerList.length > 0" ng-click="toggleControlCenter('replicant--deckard')" class="replicant-icon replicant-icon--deckard tips--deep animate--faster" type="button">
    <svg viewBox="0 0 54 67">
        <use xlink:href="/public/img/icon-sprites.svg#deckard"></use>
    </svg>
</button>
<button ng-click="toggleControlCenter('replicant--rachael')" class="replicant-icon replicant-icon--rachael tips--deep animate--faster" type="button">
    <svg viewBox="0 0 54 67">
        <use xlink:href="/public/img/icon-sprites.svg#rachael"></use>
    </svg>
</button>