<div ng-click="loadMore(1);resetCount()" class="loadMore loadMore--new loadMore--initLoad loadMore__count animate--faster" data-count>
    <div class="loadMore__loading"></div>
</div>

<div class="timeline" ng-repeat="item in timelineData | orderBy: '-created_at'" data-id="{{item.id_str}}">


    <div ng-if="item.provider === 'twitter'">
        <ng-include class="timeline--twitter" src=" 'twitter--' + item.type + '.html' "></ng-include>
    </div>


    <div ng-if="item.provider === 'instagram'">
        <ng-include class="timeline--instagram" src=" 'instagram--post.html' "></ng-include>
    </div>

    <div ng-if="item.provider === 'weibo'">
        <ng-include class="timeline--weibo" src=" 'weibo--' + item.type + '.html' "></ng-include>
    </div>

</div>

<div ng-click="loadMore(-1)" class="loadMore loadMore--old loadMore--initLoad animate--faster">
    <div></div>
</div>
