<div class="timeline__profile">
    <a ng-href="//weibo.com/n/{{item.retweet.user.screen_name}}" target="_blank">
        <img class="timeline__profile__avatar" ng-src="{{item.retweet.user.profile_image_url_https}}" alt="avatar">
    </a>
    <div class="timeline__profile__fullname">
        <a ng-href="//weibo.com/n/{{item.retweet.user.screen_name}}" target="_blank">
            <strong>{{item.retweet.user.name}}</strong>
        </a>
    </div>
</div>

<div class="timeline__content">
    <p class="timeline__text" linkify="weibo">{{item.retweet.text}}</p>

    <ng-include ng-if="::item.media" src=" 'media--weibo.html' "></ng-include>
</div>

<a class="timeline--retweet__profile__avatar" ng-href="//weibo.com/n/{{item.user.screen_name}}" target="_blank">
    <img class="timeline__profile__avatar" ng-src="{{item.user.profile_image_url_https}}" alt="avatar">
</a>

<ng-include src=" 'actions--weibo.html' " class="cursor--pointer"></ng-include>

<span class="timeline__time tips" relative-date="{{item.created_at}}"></span>
