<div class="timeline__profile">
    <a ng-href="//instagram.com/{{::item.user.username}}" target="_blank">
        <img class="timeline__profile__avatar timeline__profile__avatar--instagram" ng-src="{{::item.user.profile_picture}}" alt="avatar">
    </a>
    <div class="timeline__profile__fullname">
        <a ng-href="//instagram.com/{{::item.user.username}}" target="_blank">
            <strong>{{::item.user.full_name}}</strong>
        </a>
    </div>
</div>

<div class="timeline__content">

    <div ng-include=" 'media/instagram.html' "></div>
    <p class="timeline__text" linkify="instagram" ng-bind-html="::item.text"></p>
</div>

<div ng-include=" 'actions/instagram.html' " class="cursor--pointer"></div>

<span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>
