<!DOCTYPE html>
<html ng-app="Oneline" ng-csp>
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Oneline">
    <meta name="description" content="A Social Network Aggregator">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Oneline">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="public/img/favicon.ico">
    <link rel="shortcut icon" href="public/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="192x192" href="public/img/favicon.png">
    <title>｜</title>
    <link rel="stylesheet" href="/public/dist/oneline.min.css">
</head>
<body ng-controller="rootController" ng-class="{'status--timeline': isTimeline}">


    <ng-include src="'/public/dist/menu--left.min.html'"></ng-include>


    <div class="oneline overflow--y animate--general">
        <ui-view></ui-view>
    </div>


    <ng-include src="'/public/dist/menu--right.min.html'"></ng-include>


    <script src="/public/dist/libs.min.js"></script>
    <script src="/public/dist/oneline.min.js"></script>
</body>
</html>