@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.vertically_center {
  display: table-cell;
  vertical-align: middle;
}

.animate--slower {
  -moz-transition: all 1.7s ease-in-out;
  -o-transition: all 1.7s ease-in-out;
  -webkit-transition: all 1.7s ease-in-out;
  transition: all 1.7s ease-in-out;
}
.animate--general {
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.animate--faster {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.animate--general.ng-enter, .animate--general.ng-leave.ng-leave-active, .animate--faster.ng-enter, .animate--faster.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate--general.ng-leave, .animate--general.ng-enter.ng-enter-active, .animate--faster.ng-leave, .animate--faster.ng-enter.ng-enter-active {
  opacity: 1;
}

.overflow--x {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.overflow--y {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.tips {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.tips:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.tips--deep {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.tips--deep:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.tips--active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.tips--active:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.tips--frozen {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  cursor: default;
}
.tips--frozen:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

.cursor--pointer {
  cursor: pointer;
}
.cursor--pre {
  cursor: url(data:image/gif;base64,R0lGODlhMAAwAPAAAAAAAAAAACH5BAEAAAEAIf8LSW1hZ2VNYWdpY2sHZ2FtbWE9MQAsAAAAADAAMAAAAm2Mj6nL7Q+jnA1Yip+9uacNeKIBjmJpdmiKrezkvlEsa1sN3/is7zbnc9CCnx5xMTySjEpEUvk8RonTYNXKbDqz2iWwu/2CvaFxuGwmpw9XrHjc9sV3c1y9dpflX3tWP/VnEjgyeMLVdbimGFEAADs=), w-resize;
}
.cursor--next {
  cursor: url(data:image/gif;base64,R0lGODlhMAAwAPAAAAAAAAAAACH5BAEAAAEAIf8LSW1hZ2VNYWdpY2sHZ2FtbWE9MQAsAAAAADAAMAAAAmmMj6nL7Q+jPKDOK6vFvGnQhconlgZpimjarSzmvlMsR3T93Lin7XPvswGDuSGRtzkiQcpl0/lc6J7TZvV4DWZ9210X962FZeNXmXVOpU3rUltljAbeIXorHrVz9DA81W8FGMgkV2i4UAAAOw==), e-resize;
}

.button--inactive {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.button--inactive:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.button--active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* sy-news-reset */
html {
  height: 100%;
  overflow: hidden;
  background-color: #FFF;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue", "Palatino", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:-moz-placeholder {
  text-align: center;
}
*::-moz-placeholder {
  text-align: center;
}
*:-ms-input-placeholder {
  text-align: center;
}
*::-webkit-input-placeholder {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 1em 0;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  scrollbar-face-color: #666;
  scrollbar-track-color: transparent;
}

/* angular-csp */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

/* Status: Settings */
.oneline {
  position: absolute;
  left: 40%;
  top: 0%;
  width: 20%;
  height: 100%;
  background-color: #000;
}
@media (max-device-width: 767px) and (orientation: portrait) {
  .oneline {
    min-width: 0px;
    left: 25%;
    width: 50%;
  }
}

.menu {
  display: table;
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  text-align: center;
}
.menu--left {
  left: 0%;
}
@media (max-device-width: 767px) and (orientation: portrait) {
  .menu--left {
    width: 25%;
  }
}
.menu--right {
  left: 60%;
}
@media (max-device-width: 767px) and (orientation: portrait) {
  .menu--right {
    left: 75%;
    width: 25%;
  }
}
.menu:hover .menu__button {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.menu__button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media (max-device-width: 1024px), (max-width: 1024px) {
  .menu__button {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}
.menu__button:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* Status: Timeline */
.status--timeline .oneline {
  left: 33.3%;
  width: 33.3%;
  background-color: #F1F1F1;
}
@media (max-device-width: 1024px), (max-width: 1024px) {
  .status--timeline .oneline {
    left: 25%;
    width: 50%;
  }
}
@media (max-device-width: 767px) and (orientation: portrait) {
  .status--timeline .oneline {
    left: 0%;
    width: 100%;
  }
}
.status--timeline .menu {
  width: 33.3%;
}
.status--timeline .menu--left {
  left: 0%;
}
.status--timeline .menu--right {
  left: 66.7%;
}
@media (max-device-width: 1024px), (max-width: 1024px) {
  .status--timeline .menu {
    width: 25%;
  }
  .status--timeline .menu--right {
    left: 75%;
  }
}

.actions {
  display: inline-block;
  position: relative;
  padding-right: 7px;
  text-align: center;
}
.actions__button {
  display: inline-block;
  width: 17px;
  height: 28px;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.actions__button--wait {
  cursor: default;
  -moz-animation: waitAnimate 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  -webkit-animation: waitAnimate 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: waitAnimate 1s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@-moz-keyframes waitAnimate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes waitAnimate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes waitAnimate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.actions__button--active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.actions__button--retweet {
  width: 20px;
}
.actions__count {
  display: inline-block;
  font-size: 11px;
  color: #89A;
}
.actions__count::after {
  content: attr(data-count);
}

.timeline--quote .actions__button {
  width: 15px;
  height: 24px;
}
.timeline--quote .actions__button--retweet {
  width: 18px;
}
.timeline--quote .actions__count {
  font-size: 10px;
}

.timeline, .loadMore {
  position: relative;
  margin: 36px 7px;
  padding: 0 10px;
  background-color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.timeline__profile {
  position: relative;
  top: -24px;
  text-align: center;
}
.timeline__profile__avatar {
  width: 48px;
  height: 48px;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.timeline__profile__fullname {
  margin-bottom: 17px;
  font-weight: 600;
}
.timeline__time {
  position: absolute;
  bottom: 3px;
  right: 3px;
  color: #89A;
  font-size: 11px;
  cursor: pointer;
}
.timeline__content {
  position: relative;
  top: -24px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.timeline__text {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.timeline__media {
  display: block;
  position: relative;
  width: 100%;
  margin: 17px 0;
  white-space: nowrap;
  text-align: center;
  /**
   * 圖片（視頻）尺寸／樣式
   *
   */
  /**
   * 播放按鈕
   *
   */
}
.timeline__media::-webkit-scrollbar {
  display: none;
}
.timeline__media img, .timeline__media video {
  width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.timeline__media video {
  cursor: pointer;
}
.timeline__media--thumb img {
  width: 80px;
  margin-right: 3px;
  cursor: zoom-in;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.timeline__media--small img {
  width: calc(100% / 9 - 7px);
  margin-right: 7px;
  border: 0px solid;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.timeline__media--inactive {
  display: none;
}
.timeline__media--loading {
  border: 7px solid !important;
  -moz-animation: imgLoadAnimate 1.7s infinite linear;
  -webkit-animation: imgLoadAnimate 1.7s infinite linear;
  animation: imgLoadAnimate 1.7s infinite linear;
}
@-moz-keyframes imgLoadAnimate {
  0%, 100% {
    border-color: #F1F1F1;
  }
  50% {
    border-color: #CECECF;
  }
}
@-webkit-keyframes imgLoadAnimate {
  0%, 100% {
    border-color: #F1F1F1;
  }
  50% {
    border-color: #CECECF;
  }
}
@keyframes imgLoadAnimate {
  0%, 100% {
    border-color: #F1F1F1;
  }
  50% {
    border-color: #CECECF;
  }
}
.timeline__media__playButton {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16.7%;
  height: 16.7%;
  cursor: pointer;
}
.timeline__media__playButton--playing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.timeline--quote {
  top: -12px;
  margin: 27px 7px 7px 7px;
  border: 1px solid #F1F1F1;
  background-color: #F1F1F1;
  font-size: 12px;
}
.timeline--quote strong, .timeline--quote p {
  color: #000;
}
.timeline--quote .timeline__profile__avatar {
  width: 40px;
  height: 40px;
}
.timeline--quote .timeline__profile__fullname {
  margin-bottom: 7px;
}
.timeline--quote .timeline__content {
  top: -14px;
}
.timeline--quote .timeline__time {
  font-size: 10px;
}
.timeline--retweet__profile__avatar {
  position: absolute;
  top: -12px;
  left: calc(50% - 72px);
}
.timeline--retweet__profile__avatar img {
  width: 24px;
  height: 24px;
}
.timeline--retweet__profile__avatar::after {
  content: '';
  position: absolute;
  top: 4px;
  right: -21px;
  width: 19px;
  height: 16px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 19 16" xmlns="http://www.w3.org/2000/svg"><g fill="#B2B2B2"><path d="M10.84 10.653c-.053-.07-.127-.105-.221-.105h-5.092v-3.655h1.697c.153 0 .286-.06.398-.181.112-.121.168-.263.168-.428 0-.152-.044-.282-.133-.39l-2.829-3.655c-.112-.139-.256-.209-.433-.209s-.321.07-.433.209l-2.829 3.655c-.089.108-.133.238-.133.39 0 .165.056.308.168.428.112.121.245.181.398.181h1.697v5.711l.009.11.027.109.049.076.079.067.119.019h8.487c.077 0 .143-.03.199-.09.056-.06.084-.132.084-.214 0-.064-.021-.13-.062-.2l-1.415-1.827zM17.409 8.112h-1.697v-5.711l-.009-.11-.026-.109-.049-.076-.08-.067-.119-.019h-8.487c-.077 0-.143.03-.199.09-.056.06-.084.132-.084.214 0 .07.02.133.062.19l1.414 1.827c.053.076.127.114.221.114h5.092v3.654h-1.697c-.153 0-.286.06-.398.181-.112.121-.168.264-.168.428 0 .152.044.282.133.39l2.829 3.654c.118.146.262.219.433.219.171 0 .315-.073.433-.219l2.829-3.654c.088-.108.133-.238.133-.39 0-.165-.056-.308-.168-.428-.112-.12-.245-.181-.398-.181z"/></g></svg>');
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.timeline--twitter .timeline__profile__avatar {
  border-color: #2AA9E0;
  background-color: #2AA9E0;
}
.timeline--twitter .timeline__content a, .timeline--twitter .timeline__content a:visited {
  color: #2AA9E0;
}
.timeline--instagram .timeline__profile__avatar {
  border-color: #3F5D87;
  background-color: #3F5D87;
}
.timeline--instagram .timeline__content a, .timeline--instagram .timeline__content a:visited {
  color: #3F5D87;
}
.timeline--weibo .timeline__profile__avatar {
  border-color: #E6162D;
  background-color: #E6162D;
}
.timeline--weibo .timeline__content a, .timeline--weibo .timeline__content a:visited {
  color: #E6162D;
}
.timeline__action {
  display: none;
  position: absolute;
  top: 7px;
  right: 5px;
  width: 20px;
  height: 6px;
  cursor: pointer;
  z-index: 3;
}
@media (max-device-width: 1024px), (max-width: 1024px) {
  .timeline__action {
    display: block;
  }
}
.timeline:hover .timeline__action, .loadMore:hover .timeline__action {
  display: block;
}

/* Load more button */
.loadMore {
  position: relative;
  height: 40px;
  margin: 10px 7px;
  border: 1px solid #F1F1F1;
  cursor: pointer;
}
.loadMore:hover {
  border: 1px solid #CECECF;
}
.loadMore:active {
  background-color: #CECECF;
}
.loadMore--new {
  z-index: 3;
}
.loadMore--old {
  z-index: 2;
}
.loadMore--initLoad {
  position: absolute;
  top: calc(50% - 20px);
  width: calc(100% - 14px);
}
.loadMore__loading {
  position: relative;
  top: 19px;
  width: 2px;
  height: 2px;
  background-color: #000;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-animation: loadAnimate 7s infinite linear;
  -webkit-animation: loadAnimate 7s infinite linear;
  animation: loadAnimate 7s infinite linear;
}
.loadMore__count::before {
  content: attr(data-count);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #CECECF;
  text-align: center;
  line-height: 40px;
}

@-moz-keyframes loadAnimate {
  0% {
    width: 2px;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes loadAnimate {
  0% {
    width: 2px;
  }
  100% {
    width: 100%;
  }
}
@keyframes loadAnimate {
  0% {
    width: 2px;
  }
  100% {
    width: 100%;
  }
}
.divider_line, .divider--top::before, .divider--bottom::after {
  content: '';
  position: absolute;
  left: 50%;
  height: 40px;
  border-right: 1px dashed #000;
}

/* Divider */
.divider--top {
  margin-top: 100px;
}
.divider--top::before {
  top: -82px;
}
.divider--bottom {
  margin-bottom: 100px;
}
.divider--bottom::after {
  bottom: -58px;
}

.social-list {
  display: table;
  width: 100%;
  height: 100%;
}

.social-icon {
  display: block;
  margin: 33.3% auto;
  width: 33.3%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.social-icon--active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
