<div ng-include=" 'twitter/component/profile.html' "></div>

<div ng-include=" 'twitter/component/content.html' "></div>

<!-- Origin Start -->
<div class="timeline timeline--quote timeline--quote--twitter">

    <div ng-include=" 'twitter/component/profile--quote.html' "></div>

    <div ng-include=" 'twitter/component/content--quote.html' "></div>

    <div ng-include=" 'actions/twitter--quote.html' " class="cursor--pointer"></div>

    <span class="timeline__time" relative-date="{{::item.quote.created_at}}"></span>

</div>
<!-- Origin End -->

<div ng-include=" 'actions/twitter.html' " class="cursor--pointer"></div>

<span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>