<div class="timeline__media">
    <div ng-repeat="media in ::item.quote.media" class="timeline__media--large">
        <a ng-if="::media.type === 'photo'" ng-href="{{::media.image_url}}:large" target="_blank">
            <svg class="timeline__media__jumpButton tips--deep animate--faster" viewBox="0 0 130 130">
                <use xlink:href="/public/img/icon-sprites.svg#eyeball-twitter"></use>
            </svg>
        </a>
        <img ng-if="::media.type === 'photo'" ng-src="{{::media.image_url}}" handle-image-error>

        <ol-video ng-if="::media.type !== 'photo'" ol-src="::media.video_url" ol-poster="::media.image_url"></ol-video>
    </div>
</div>
