<div class="timeline__media">
    <div ng-repeat="media in ::item.media" class="timeline__media--large">
        <a ng-if="::media.type === 'photo'" ng-href="{{::media.image_url}}:large" target="_blank">
            <svg class="timeline__media__jumpButton tips--deep animate--faster" viewBox="0 0 130 130">
                <g transform="translate(15 15)" fill="none">
                    <circle stroke="#2AA9E0" stroke-width="5" cx="50" cy="50" r="50"/>
                    <circle fill="#2AA9E0" cx="50" cy="50" r="16"/>
                    <circle fill="#fff" cx="56.5" cy="43.5" r="3.5"/>
                    <path d="M66 66.5l12.021 12.021m-18.629-7.544l7.185 15.407m-14.926-13.46l1.482 16.935m-9.422-17.753l-4.4 16.421m-2.782-19.905l-9.751 13.926m4.194-19.656l-13.926 9.751m10.664-17.036l-16.421 4.4m15.847-12.361l-16.935-1.482m19.12-6.196l-15.407-7.185m20.086.717l-12.021-12.021m18.629 7.544l-7.185-15.407m14.926 13.46l-1.482-16.935m9.422 17.753l4.4-16.421m2.782 19.905l9.751-13.926m-4.194 19.656l13.926-9.751m-10.664 17.036l16.421-4.4m-15.847 12.361l16.935 1.482m-19.12 6.196l15.407 7.185" stroke="#2AA9E0" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
            </svg>
        </a>
        <img ng-if="::media.type === 'photo'" ng-src="{{::media.image_url}}" handle-image-error>

        <ol-video ng-if="::media.type !== 'photo'" ol-src="::media.video_url" ol-poster="::media.image_url"></ol-video>
    </div>
</div>
