<div class="timeline__media overflow--x timeline__media--thumb">
    <img class="animate--faster" ng-repeat="media in ::item.media" ng-src="{{:: media.image_url}}" ng-class="::{ 'timeline__media--gif': media.type ==='gif' }" ol-image-thumb handle-image-error>
</div>
<div class="timeline__media timeline__media--inactive">
    <img src="" alt="weibo_large_photo" select-image image-count="{{:: item.media.length}}" handle-image-error>
    <a href="" target="_blank">
        <svg class="timeline__media__jumpButton tips--deep animate--faster" viewBox="0 0 130 130">
            <use xlink:href="/public/img/icon-sprites.svg#eyeball-weibo"></use>
        </svg>
    </a>
</div>