<div class="timeline__media overflow--x timeline__media--thumb">
    <img class="animate--faster" ng-repeat="media in ::item.media" ng-src="{{:: media.image_url}}" ng-class="::{ 'timeline__media--gif': media.type ==='gif' }" alt="weibo_photo" ol-image-thumb>
</div>
<div class="timeline__media timeline__media--inactive">
    <img src="" alt="weibo_large_photo" select-image image-count="{{:: item.media.length}}">
    <a href="" target="_blank">
        <svg class="timeline__media__jumpButton tips--deep animate--faster">
            <use xlink:href="/public/img/icon-sprite.svg#weibo-eyeball-icon"></use>
        </svg>
    </a>
</div>