<div class="menu menu--right animate--faster">

    <div ng-if="!isTimeline" class="vertically_center">
        <a ui-sref="timeline">
            <svg ng-show="providerList.length > 0" class="menu__button animate--faster">
                <use xlink:href="#ok-icon"></use>
            </svg>
        </a>
    </div>

    <div ng-if="isTimeline" class="vertically_center">
        <svg class="menu__button animate--faster" ng-click="toggleControlCenter('newTweet')" toggle-class="menu__button--active" toggle-icon='#newTweet-icon, #cancel-icon' js-newTweet>
            <use xlink:href="#newTweet-icon"></use>
        </svg>
    </div>

</div>