<div class="menu menu--right animate--faster">

    <div ng-if="!isTimeline && providerList.length > 0" class="vertically_center">
        <a href="/">
            <button class="menu__button animate--faster" type="button">
                <svg viewBox="0 0 200 200">
                    <use xlink:href="/public/img/icon-sprites.svg#ok"></use>
                </svg>
            </button>
        </a>
    </div>

    <div ng-if="isTimeline && providerList.indexOf('twitter') >= 0 && !controlCenter" class="vertically_center">
        <button class="menu__button animate--faster" ng-click="toggleControlCenter('newTweet')" js-newTweet type="button">
            <svg viewBox="0 0 200 200">
               <use xlink:href="/public/img/icon-sprites.svg#newTweet"></use>
            </svg>
        </button>
    </div>

</div>