// CSS3
@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        @include border-radius($size);
    }
    ::-webkit-scrollbar-track {
        background: $background-color;
    }
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}


// Base Font
$font-family-base: "Helvetica Neue","Palatino","PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
$line-height-base: 1.4;
// Font Size
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-regular: 16px;
// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Base Color
$color-black: #000;
$color-white: #FFF;
$color-gray: #F1F1F1;
$color-gray-drak: #CECECF;
$color-steel: #666;

// Social Color
$color-twitter: #2AA9E0;
$color-twitter-alpha: rgba(42, 169, 224, .3);

$color-instagram: #3F5D87;
$color-instagram-alpha: rgba(63, 93, 135, .3);

$color-weibo: #E6162D;
$color-weibo-alpha: rgba(230, 22, 45, .3);



// Media Query
// All Mobile Devices
$all-mobile-devices: '(max-device-width: 1024px), (max-width: 1024px)';
// Mobile Phone in portrait and landscape
$phone: '(max-device-width: 767px), (max-width: 767px)';
// Mobile Phone in portrait
$phone-portrait: '(max-device-width : 767px) and (orientation : portrait)';
// Mobile Phone in landscape
$phone-landscape: '(max-device-width : 767px) and (orientation : landscape)';
// iPad in portrait and landscape
$tablet: '(min-device-width : 768px) and (max-device-width : 1024px),(min-width: 768px) and (max-width: 1024px)';
// iPad in landscape
$tablet-landscape: '(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape),(min-width: 768px) and (max-width: 1024px) and (orientation : landscape)';


.vertically_center {
    display: table-cell;
    vertical-align: middle;
}
.animate {
    &--slower {
        @include transition(all 1.7s ease-in-out);
    }
    &--general {
        @include transition(all .7s ease-in-out);
    }
    &--faster {
        @include transition(all .3s ease-in-out);
    }
    &--general, &--faster {
        &.ng-enter,
        &.ng-leave.ng-leave-active {
          opacity:0;
        }
        &.ng-leave,
        &.ng-enter.ng-enter-active {
          opacity:1;
        }
    }
}
.overflow {
    &--x {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    &--y {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.tips {
    @include opacity(.7);

    &:hover {
        @include opacity(1);
    }

    &--deep {
        @include opacity(.3);

        &:hover {
            @include opacity(1);
        }
    }
    &--active {
        @include opacity(1);

        &:hover {
            @include opacity(.7);
        }
    }
    &--frozen {
        @include opacity(.3);
        cursor: default;

        &:hover {
            @include opacity(.3);
        }
    }
}
.cursor {
    &--pointer {
        cursor: pointer;
    }
    &--pre {
        cursor: url(data:image/gif;base64,R0lGODlhGAAYAPQAAAAAACQkJFxcXF5eXl9fX2BgYGFhYWZmZmdnZ2hoaGpqaoWFhYaGhpeXl5iYmJubm5ycnJ2dnaCgoKKioqOjo6WlpQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABYAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAABgAGAAABUagJY5kaZ4oCTFpK1YA4aawPJ/1jce6mfekH/DFG4ooRSPSpgwwjQxAw0hSAB7UEQIAyYq2XS/YaxmLuWRz1hpeX9MFMioEADs=), w-resize;
        cursor: -webkit-image-set(
            url(data:image/gif;base64,R0lGODlhMAAwAPQAAAAAAAoKCg8PDxUVFRsbGygoKC0tLTMzM5CQkJeXl6KiorW1tbe3t7+/v8DAwMfHx8jIyM/Pz9ra2t3d3eTk5Ofn5wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABYAIf8LSW1hZ2VNYWdpY2sHZ2FtbWE9MQAsAAAAADAAMAAABaigJY5kaZ5oqq5s675ppVBwvUYEcNi8iQOAQm9o+QECCyLPiFTamEknDCqd5o7Raouq3V6bXRY3rBqTUeaz75tVr4Fg9xsrP6XrRTa+dK/35X9uFHp7JApAAAiFJRQDQAINiyQPjgCQkiOUj5GYFpqWnJifl52joZKmnRYQlaSYrJuqqaWtp4uwoLK1urG0va+7nbiuksO2hcMOqrgGqquOzc4TCRLOMCEAOw==) 2x
        ), w-resize;
    }
    &--next {
        cursor: url(data:image/gif;base64,R0lGODlhGAAYAPQAAAAAABMTEy0tLS8vLzQ0NDU1NTc3Nzw8PD09PU5OTnd3d3l5eXp6ent7e4WFhYeHh5mZmQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABEAIf8LSW1hZ2VNYWdpY2sNZ2FtbWE9MC40NTQ1NQAsAAAAABgAGAAABUBgJI5kaZ4i9KBs+QBNK0cNPLd1fKP5zts+Uy9YGhJHxiMNoFAigc5AwhkhEKiHAVbrzG6/Xa7S6ySIj48DVRkCADs=), e-resize;
        cursor: -webkit-image-set(
            url(data:image/gif;base64,R0lGODlhMAAwAPMAAAAAABMTEyoqKlVVVWFhYWpqam1tbW5ubnV1dampqbS0tLW1tbu7u8DAwPv7+wAAACH5BAEAAA8AIf8LSW1hZ2VNYWdpY2sHZ2FtbWE9MQAsAAAAADAAMAAABJDwyUmrvTjrzbunzfKNXgMABKlmy4mucEW4aWzPZ23D+LvztB8wJ1z1dMXPMUlaMpXBp8cp5VCrmisWo91aul4KOCwZk81htLeHIF8cglPAbTG4DHSK/TTIT/YAfX4PgIJ+By6GeYh8gw+MgY6QinSTkomXjYOWm5idmoeefoWZkZ+moaB5DKJ+rKiOCwmOeREAOw==) 2x
        ), e-resize;
    }
}
.button {
    &--inactive {
        @include filter(grayscale(100%));
        @include opacity(.7);

        &:hover {
            @include filter(grayscale(0%));
            @include opacity(1);
        }
    }
    &--active {
        @include filter(grayscale(0%));
        @include opacity(1);
    }
}