// CSS3
@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}
@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        @include border-radius($size);
    }
    ::-webkit-scrollbar-track {
        background: $background-color;
    }
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}


// Base Font
$font-family-base: "Helvetica Neue","Palatino","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
$line-height-base: 1.4;
// Font Size
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-regular: 16px;
// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

// Base Color
$color-black: #000;
$color-white: #FFF;
$color-gray: #F1F1F1;
$color-gray-drak: #CECECF;
$color-steel: #666;

// Social Color
$color-twitter: #2AA9E0;
$color-twitter-alpha: rgba(42, 169, 224, .3);

$color-instagram: #3F5D87;
$color-instagram-alpha: rgba(63, 93, 135, .3);

$color-weibo: #E6162D;
$color-weibo-alpha: rgba(230, 22, 45, .3);



// Media Query
// All Mobile Devices
$all-mobile-devices: '(max-device-width: 1024px), (max-width: 1024px)';
// Mobile Phone in portrait and landscape
$phone: '(max-device-width: 767px), (max-width: 767px)';
// Mobile Phone in portrait
$phone-portrait: '(max-device-width : 767px) and (orientation : portrait)';
// Mobile Phone in landscape
$phone-landscape: '(max-device-width : 767px) and (orientation : landscape)';
// iPad in portrait and landscape
$tablet: '(min-device-width : 768px) and (max-device-width : 1024px),(min-width: 768px) and (max-width: 1024px)';
// iPad in landscape
$tablet-landscape: '(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape),(min-width: 768px) and (max-width: 1024px) and (orientation : landscape)';


.vertically_center {
    display: table-cell;
    vertical-align: middle;
}
.animate {
    &--slower {
        @include transition(all 1.7s ease-in-out);
    }
    &--general {
        @include transition(all .7s ease-in-out);
    }
    &--faster {
        @include transition(all .3s ease-in-out);
    }
    &--general, &--faster {
        &.ng-enter,
        &.ng-leave.ng-leave-active {
          opacity:0;
        }
        &.ng-leave,
        &.ng-enter.ng-enter-active {
          opacity:1;
        }
    }
}
.overflow {
    &--x {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    &--y {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.tips {
    @include opacity(.7);

    &:hover {
        @include opacity(1);
    }

    &--deep {
        @include opacity(.3);

        &:hover {
            @include opacity(1);
        }
    }
    &--active {
        @include opacity(1);

        &:hover {
            @include opacity(.7);
        }
    }
    &--frozen {
        @include opacity(.3);
        cursor: default;

        &:hover {
            @include opacity(.3);
        }
    }
}
.cursor {
    &--pointer {
        cursor: pointer;
    }
    &--pre {
        cursor: w-resize;
    }
    &--next {
        cursor: e-resize;
    }
}
.button {
    &--inactive {
        @include filter(grayscale(100%));
        @include opacity(.7);

        &:hover {
            @include filter(grayscale(0%));
            @include opacity(1);
        }
    }
    &--active {
        @include filter(grayscale(0%));
        @include opacity(1);
    }
}
