<div ng-include=" 'weibo/component/profile.html' "></div>

<div ng-include=" 'weibo/component/content.html' "></div>

<!-- Origin Start -->
<div class="timeline timeline--quote timeline--quote--weibo">

    <div ng-include=" 'weibo/component/profile--retweet.html' "></div>

    <div ng-include=" 'weibo/component/content--retweet.html' "></div>

    <div ng-include=" 'actions/weibo--quote.html' " class="cursor--pointer"></div>

    <span class="timeline__time" relative-date="{{::item.retweet.created_at}}"></span>
</div>
<!-- Origin End -->

<div ng-include=" 'actions/weibo.html' " class="cursor--pointer"></div>

<span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>
