<div ng-include=" 'weibo/component/profile--retweet.html' "></div>

<div ng-include=" 'weibo/component/content--retweet.html' "></div>

<a class="timeline--retweet__profile__avatar" ng-href="//weibo.com/n/{{::item.user.screen_name}}" target="_blank">
    <img class="timeline__profile__avatar" ng-src="{{::item.user.profile_image_url_https}}" alt="avatar">
</a>

<div ng-include=" 'actions/weibo.html' " class="cursor--pointer"></div>

<span class="timeline__time tips" relative-date="{{::item.created_at}}"></span>
