<div class="social-list">
    <div class="vertically_center">
        <!-- Twitter -->
        <svg class="social-icon animate--faster" ng-class="{'social-icon--active': isAuth('twitter')}" ng-click="toggleAuth('twitter')" viewBox="0 0 300 300">
            <use xlink:href="/public/img/icon-sprite.svg#twitter-icon"></use>
        </svg>
    
        <!-- Instagram -->
        <svg class="social-icon animate--faster" ng-class="{'social-icon--active': isAuth('instagram')}" ng-click="toggleAuth('instagram')" viewBox="0 0 775 300">
           <use xlink:href="/public/img/icon-sprite.svg#instagram-icon"></use>
        </svg>

        <!-- Weibo -->
        <svg class="social-icon animate--faster" ng-class="{'social-icon--active': isAuth('weibo')}" ng-click="toggleAuth('weibo')" viewBox="0 0 301 300">
            <use xlink:href="/public/img/icon-sprite.svg#weibo-icon"></use>
        </svg>
    </div>
</div>