<div ng-click="loadOldPosts()" class="loadMore loadMore--new loadMore--loading animate--faster">
    <div class="loadMore__loading"></div>
</div>

<div class="timeline" ng-repeat="item in timelineData | orderBy: '-created_at'">


    <div ng-if="item.provider === 'twitter'">
        <ng-include class="timeline--twitter" src="'/public/dist/' + item.type + '.min.html'"></ng-include>
    </div>


    <div ng-if="item.provider === 'instagram'">
        <ng-include class="timeline--instagram" src="'/public/dist/ig-post.min.html'"></ng-include>
    </div>

    
<!--     <div ng-if="item.provider === 'weibo'">
        <weibo class="timeline--weibo"></weibo>
    </div> -->


</div>

<div ng-click="loadOldPosts()" class="loadMore loadMore--old loadMore--loading animate--faster">
    <div></div>
</div>