<div class="timeline" ng-repeat="item in timelineData">


    <div ng-if="item.provider === 'twitter'">
        <div ng-if="item.type === 'tweet' || 'reply'">
            <tweet class="timeline--twitter"></tweet>
        </div>
        <div ng-if="item.type === 'retweet'">
            <tweet-retweet class="timeline--twitter"></tweet-retweet>
        </div>
        <div ng-if="item.type === 'quote'">
            <tweet-quote class="timeline--twitter"></tweet-quote>
        </div>
    </div>


    <div ng-if="item.provider === 'instagram'">
        <ig-post class="timeline--instagram"></ig-post>
    </div>

    
    <div ng-if="item.provider === 'weibo'">
        <weibo class="timeline--weibo"></weibo>
    </div>


</div>